.mainbox {
    margin-top: 5%;
}

.left {
    float: left;
    margin-left: 5%;
    border-right: 1px solid rgba(59, 79, 105, 1);
}

.logo {
    width: 255px;
    height: 49px;
}

.explain {
    color: rgba(0, 0, 0, 0.67);
}

.login_img {
    width: 26.8125rem;
    height: 28.75rem;
    margin-top: 15%;
}

.right {
    float: right;
}

.login_txt {
    font-size: 3.125rem;
    text-align: center;
}

.email_id {
    margin-left: 15%;
}

.password {
    margin-top: 5%;
    margin-left: 15%;
}

.min_left {
    float: left;
    margin-top: 3%;
    margin-left: 15%;
}

.min_right {
    float: right;
    margin-top: 3%;
    margin-right: 15%;
}

.Login {
    margin-top: 5%;
    margin-left: 15%;
    background-color: rgba(103, 190, 199, 1);
    border: none;
    color: white;
}

.goto_join {
    margin-top: 3%;
    margin-left: 40%;
    color: rgba(59, 79, 105, 1);
    text-decoration: underline;
}
