.menu {
    list-style-type: none;
    display: flex;
    margin-top: 2%;
}

.logo {
    margin-left: -2%;
    width: 255px;
    height: 49px;
}

.user {
    margin-top: 2%;
    margin-left: 1%;
}

.goHome {
    margin-top: 2%;
    margin-left: 48%;
}

.goChallenge {
    margin-top: 2%;
    margin-left: 5%;
}

.goMypage {
    margin-top: 2%;
    margin-left: 5%;
}

header {
    border-bottom: 1px solid #3b4f69;
}
