<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link href="../css/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
            <ul class="menu">
                <li class="logo"><img src="../img/logo.png" /></li>
                <li class="user">탁호님 안녕하세요!</li>
                <li class="goHome"><a href="">홈</a></li>
                <li class="goChallenge"><a href="">챌린지 둘러보기</a></li>
                <li class="goMypage"><a href="">마이페이지</a></li>
            </ul>
        </header>
    </body>
</html>
