.logo {
    width: 255px;
    height: 49px;
    margin-top: 2%;
    margin-left: 2%;
}

.main {
    margin-top: 5%;
}

.main_txt {
    font-style: bold;
    text-align: center;
    font-size: 2.3rem;
}

input {
    margin-top: 1.5%;
    margin-left: 31%;
    border: 1px solid;
}

.Sign_up {
    background-color: rgba(103, 190, 199, 1);
    color: white;
}
