.logo {
    width: 255px;
    height: 49px;
    margin-top: 2%;
    margin-left: 2%;
}

.main_txt {
    font-style: bold;
    text-align: center;
    font-size: 2.3rem;
}

.id_find {
    float: left;
    border: 1px solid black;
    padding: 1% 8%;
    margin-left: 30.5%;
    margin-top: 1%;
    color: white;
    background-color: rgba(103, 190, 199, 1);
}

.pw_find {
    float: left;
    border: 1px solid black;
    margin-top: 1%;
    padding: 1% 8%;
    color: rgba(0, 0, 0, 0.4);
}

.find_id_contents {
    display: block;
    text-align: center;
    padding: 5%;
    margin-top: 8%;
}

.id_find_button {
    margin-left: 30.5%;
    margin-top: 2%;
    background-color: rgba(59, 79, 105, 1);
    color: white;
    font-style: bold;
}
