
<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>TodoPlay</title>
        <link href="{% static '/css/home/main.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static '/css/todocalendar/side-bar.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static '/css/todocalendar/calendar.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static '/css/todocalendar/week.css' %}" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <ul class="menu">
                <li class="logo"><img src="{% static '/img/logo.png' %}"></li>
                <li class="user">{{ user }}님 안녕하세요!</li>
                <li class="goHome"><a href="">홈</a></li>
                <li class="goChallenge"><a href="">챌린지 둘러보기</a></li>
                <li class="goMypage"><a href="">마이페이지</a></li>
            </ul>
        </header>
    

    <!-- 월간 화면 (month) -->
    <section id="month">
        <!-- 전체 캘린더 flex -->
        <div class="calendarContainer">
            <!-- 메인 캘린더 -->
            <div class='rap'>    
                <div class="header">
                    <h2 class='dateTitle'></h2>
                    <div class="btn prevDay"></div>
                    <div class="btn nextDay"></div>
                </div>
                
                <div class="grid dateHead">
                <div id="weekend">SUN</div>
                <div>MON</div>
                <div>TUE</div>
                <div>WED</div>
                <div>THU</div>
                <div>FRI</div>
                <div id="weekend">SAT</div>
                </div>
            
                <div class="grid dateBoard"></div>
            </div>
            
            <!-- 사이드바 flex container -->
            <div class="side-bar">
                <div class="viewOption">
                    <label class="monthSwitch">
                        <input 
                            type="monthCheckbox"
                            onclick="monthToWeek()"
                        >
                        <span class="monthSlider round"></span>
                    </label>
                </div>  
                
                <div class="box">
                    <div class="preview">
                        <div class="miniHeader">
                            <button class="year-month" onclick="goToday()"></button>
                        </div>
                        <div class="main">
                            <div class="days">
                                <div class="day">S</div>
                                <div class="day">M</div>
                                <div class="day">T</div>
                                <div class="day">W</div>
                                <div class="day">T</div>
                                <div class="day">F</div>
                                <div class="day">S</div>
                            </div>
                            <div class="dates"></div>
                    </div>
                        
                    </div>

                    <p>Today's Todo</p>
                    <div class="Today-todo">
                        {% for i in item_list %}
                    <h3>{{ i.category.name }}</h3>
                    <ul id="incomplete-tasks">
                            <li>
                                <input type="checkbox" id="checkBtn" disabled>
                                <label>{{ i.content }}</label>

                                <button class="edit">Edit</button>
                                <button class="delete" >Delete</button>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- 주간 화면 (week) -->
    <section id="week">

        <div class="container">
            <div class="bar">
                <ul class="bar-menu">
                    <li class="year-mon"></li>
                    <li class="switch-btn">
                        <label class="switch">
                        <input 
                            type="checkbox"
                            onclick="weekToMonth()">
                        <span class="slider round"></span>
                    </label></li>
                </ul>
            </div>
            <!-- <section class="line-top"></section>
            <section class="line-bottom"></section> -->
            <div class="content">
                <div class="week">
                    <section class="rec1">
                        <div class="preview">
                            <div class="miniHeader">
                                <button class="year-month" onclick="goToday()"></button>
                            </div>
                            <div class="main">
                                <div class="days">
                                    <div class="day">S</div>
                                    <div class="day">M</div>
                                    <div class="day">T</div>
                                    <div class="day">W</div>
                                    <div class="day">T</div>
                                    <div class="day">F</div>
                                    <div class="day">S</div>
                                </div>
                                <div class="dates"></div>
                            </div>
    
                    </section>
                    <section class="rec2">
                    </section>
                    <section class="rec3">
    
                    </section>
                    <section class="rec4">
    
                    </section>
                    <section class="rec5">
    
                    </section>
                    <section class="rec6">
    
                    </section>
                    <section class="rec7">
    
                    </section>
                    <section class="rec8">
    
                    </section>
                    </div>
                </div>
    
            </div>

    </section>


          <script src="{% static 'js/todocalendar/side-bar.js' %}"></script>
          <script src="{% static 'js/todocalendar/calendar.js' %}"></script>
          <script src="{% static 'js/todocalendar/week.js' %}"></script>
          <script src="{% static 'js/todocalendar/index.js' %}"></script>
</html>