<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoPlay</title>
    <link href="{% static '/css/todocalendar/week.css' %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    </head>

<body>
    <header>
        <ul class="menu">
            <li class="logo"><img src="../img/logo.png" /></li>
            <li class="user">탁호님 안녕하세요!</li>
            <li class="goHome">홈</li>
            <li class="goChallenge">챌린지 둘러보기</li>
            <li class="goMypage">마이페이지</li>
        </ul>
    </header>
    <div class="container">
        <div class="bar">
            <ul class="bar-menu">
                <li class="year-mon"></li>
                <li class="switch-btn">
                    <label class="switch">
                        <input type="checkbox">
                    <span class="slider round"></span>
                </label></li>
            </ul>
        </div>
        <!-- <section class="line-top"></section>
        <section class="line-bottom"></section> -->
        <div class="content">
            <div class="week">
                <section class="rec1">
                    <div class="preview">
                        <div class="miniHeader">
                            <button class="year-month" onclick="goToday()"></button>
                        </div>
                        <div class="main">
                            <div class="days">
                                <div class="day">S</div>
                                <div class="day">M</div>
                                <div class="day">T</div>
                                <div class="day">W</div>
                                <div class="day">T</div>
                                <div class="day">F</div>
                                <div class="day">S</div>
                            </div>
                            <div class="dates"></div>
                        </div>

                </section>
                <section class="rec2">
                </section>
                <section class="rec3">

                </section>
                <section class="rec4">

                </section>
                <section class="rec5">

                </section>
                <section class="rec6">

                </section>
                <section class="rec7">

                </section>
                <section class="rec8">

                </section>
                </div>
            </div>

        </div>
        <script src="../js/week.js"></script>
</body>

</html>