<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            href="{% static '/css/mypage/manage_profile.css' %}"
            rel="stylesheet"
            type="text/css"
        />
    </head>
    <body>
        <header>
            <ul class="menu">
                 <li class="logo"><img src="{% static '/img/logo.png' %}" /></li>
                <li class="user">{{user}}님 안녕하세요!</li>
                <li class="goHome"><a href="/calendar/month">홈</a></li>
                <li class="goChallenge"><a href="/challenge">챌린지 둘러보기</a></li>
                <li class="goMypage"><a href="/mypage">마이페이지</a></li>
            </ul>
        </header>
        <main>
            <div class="manage_profile">프로필 관리</div>
            <div class="profile_img">
                <div class="img_preview">
                    <img src="{% static '/img/profile.png' %}" />
                </div>
                <button
                    class="img_upload"
                    type="submit"
                    style="width: 5.5rem; height: 1.375rem"
                >
                    이미지 등록
                </button>
            </div>
            <div class="profile_simple">
                <div class="name">{{user.nickname}}</div>
                <input
                    class="explain"
                    type="text"
                    name="explain"
                    placeholder="한줄 소개를 입력해주세요!"
                    style="width: 500px; height: 50px"
                />
                <br />
            </div>
            <hr align="center" style="border: solid 0.5px black; width: 60%" />
            <a href="/mypage">
            <input
                class="submit_button"
                type="button"
                value="변경사항 적용"
                style="width: 545px; height: 55px"
                onclick="alert('변경사항이 적용되었습니다.')"
            />
                </a>
        </main>
    </body>
</html>
