<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link href="{% static '/css/mypage/mypage.css' %}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
            <ul class="menu">
                <li class="logo"><img src="{% static '/img/logo.png' %}" /></li>
                <li class="user">{{user}}님 안녕하세요!</li>
                <li class="goHome"><a href="/calendar/month">홈</a></li>
                <li class="goChallenge"><a href="/challenge">챌린지 둘러보기</a></li>
                <li class="goMypage"><a href="/mypage">마이페이지</a></li>
            </ul>
        </header>
        <main>
            <div class="profile_img"><img src="{% static '/img/profile.png' %}" /></div>
            <div class="name">{{user.nickname}}</div>
            <div class="explain">"우리 모두 무너지지마요"</div>
            <ul class="profile_detail">
                <li class="manage_profile">
                    <a href="/mypage/profile">프로필 관리</a>
                </li>
                <li class="manage_info">
                    <a href="/mypage/info">개인 정보 관리</a>
                </li>
                <li class="manage_friend">
                    <a href="/mypage/friend">친구 관리</a>
                </li>
                <li class="logout">로그아웃</li>
                <li class="delete_uesr">회원 탈퇴</li>
            </ul>
        </main>
    </body>
</html>
