<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link href="../css/change_pw.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="logo"><img src="../img/logo.png" /></div>
        <div class="main">
            <h1 class="title">비밀번호 변경</h1>
            <input
                class="new_password"
                type="text"
                name="new_password"
                placeholder="새 비밀번호"
                style="width: 549px; height: 55px"
            />
            <br />
            <input
                class="re_new_password"
                type="text"
                name="re_new_password"
                placeholder="새 비밀번호 확인"
                style="width: 549px; height: 55px"
            />
            <input
                class="pw_change_button"
                type="submit"
                value="비밀번호 변경"
                style="width: 549px; height: 55px"
            />
        </div>
    </body>
</html>
