<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Todoplay</title>
        <link href="{% static '/css/home/find_pw.css' %}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="logo"><a herf="/home/login"><img src="{% static '/img/logo.png' %}" /></a></div>
        <div class="main">
            <h1 class="main_txt">FIND</h1>
            <div class="select_button">
                <div class="id_find"><a href="findID">아이디</a></div>
                <div class="pw_find">비밀번호</div>
            </div>
            <input
                class="findpage_email"
                type="text"
                name="findpage_email"
                placeholder="이메일 아이디"
                style="width: 549px; height: 55px"
            />
            <br />
            <input
                class="findpage_nickname"
                type="text"
                name="findpage_nickname"
                placeholder="닉네임"
                style="width: 549px; height: 55px"
            />
            <input
                class="pw_find_button"
                type="submit"
                value="비밀번호 찾기"
                style="width: 549px; height: 55px"
            />
        </div>
    </body>
</html>
