
/* 미니달력 */
.week-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.bar-menu {
    width: 100%;
    height: 10vh;
    list-style-type: none;
    display: flex;
    padding: 0 0 0 1.4rem;
    justify-content: flex-start;
}

.year-mon {
    padding: 1rem 2rem;
    margin: .7rem .35rem .7rem .7rem;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    width: 75%;
    
}

.week-switch-btn {
    margin-top: 1%;
    
}


/* The switch - the box around the slider */

.week-switch {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 34px;
    vertical-align: middle;
}


/* Hide default HTML checkbox */

.week-switch input {
    display: none;
}


/* The slider */

.week-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D9D9D9;
    -webkit-transition: .4s;
    transition: .4s;
}

.week-slider:before {
    position: absolute;
    content: "WEEK";
    text-align: center;
    color: white;
    height: 26px;
    width: 75px;
    left: 60px;
    bottom: 4px;
    background-color: #67BEC7;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.week-slider {
    background-color: #D9D9D9;
}

input:focus+.week-slider {
    box-shadow: 0 0 1px #D9D9D9;
}

input:checked+.week-slider:before {
    -webkit-transform: translateX(-57px);
    -ms-transform: translateX(-57px);
    transform: translateX(-57px);
}


/* Rounded sliders */

.week-slider.round {
    border-radius: 100px;
}

.week-slider.round:before {
    border-radius: 90px;
}

p {
    margin: 0px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}


/* .week-btn {
    margin-top: 1%;
    margin-left: 79%;
} */

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: #959190; */
}

.week {
    margin-top: 20px;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    /* border: 1px solid; */
}

.week section {
    text-align: center;
    box-sizing: border-box;
    width: 15vw;
    height: 35vh;
    border: 1px solid;
    border-image-source: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, #959190, #959190);
    background: #FFFFFF;
}

.day {
    margin-top: 5%;
    font-weight: 800;
    font-size: medium;

}


/* css */


/* 미니 캘린더 박스 */

.week-preview {
    background-color: white;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.week-miniHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.week-year-month {
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nav-btn {
    width: 50px;
    height: 50px;
    border: none;
    font-size: 30px;
    line-height: 34px;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 20px;
    color: #0a3d62;
}

.go-today {
    width: 20px;
}

.week-days {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    color: #ebebeb;
    font-weight: 600;
    font-size: small;
    margin-bottom: 2px;
}

.week-day {
    width: 27px;
    justify-content: center;
    align-self: center;
    text-align: center;
    display: none;
}

.week-dates {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    flex-flow: row wrap;
    height: 130px;
}

.week-date {
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.other {
    opacity: .0;
}

.week-date:active {
    position: relative;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    background-color: rgba(229, 229, 230, 0.766);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: '';
}

.weekToday {
    position: relative;
    background-color: black;
    color: white;
}

.weekToday::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: '';
}


/* .line-top {
    position: absolute;
    width: 1336px;
    height: 61px;
    left: 68px;
    top: 220px;
    background: #F4F5F5;
}

.line-bottom {
    position: absolute;
    width: 1336px;
    height: 61px;
    left: 68px;
    top: 780px;
    background: #F4F5F5;
} */