@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: left;
    margin: 2% 2% 0% 2%;
}

.logo {
    margin-bottom: 2%;
    width: 230px;
    height: 40px;
}

.user {
    margin-top: 2%;
    margin-left: 1%;
}

.goHome {
    margin-top: 2%;
    margin-left: 30%;
}

.goChallenge {
    margin-top: 2%;
    margin-left: 3%;
}

.goMypage {
    margin-top: 2%;
    margin-left: 3%;
    font-weight: bold;
}

header {
    border-bottom: 1px solid #3b4f69;
}

a {
    text-decoration: none; /*밑줄 없애기*/
    color: black;
}

li {
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
}

a {
    text-align: center;
}

.friend_request {
    list-style-type: none;
    margin-left: 23%;
    margin-top: 3%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2%;
    border-width: 50%;
    width: 50%;
    font-size: 1.3rem;
    text-align: center;
}

.request_list {
    list-style-type: none;
}

.people_info {
    display: flex;
    text-align: center;
    margin-left: 23%;
    margin-top: 2%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 1%;
    border-width: 45%;
    width: 50%;
}

.profile_img {
    width: 4vw;
    height: 3.9vw;
}

.profile_explain {
    margin-top: 3%;
    margin-left: 5%;
}

#send_request {
    margin-top: 1%;
    margin-left: 40%;
    background-color: rgba(232, 94, 132, 1);
    color: white;
    border: none;
    font-weight: 800;
}
